body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  background-color: #7d7d7d;
  color: white;
  padding: 50px 0;
}

.Glocks {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
}

.Glocks1 {
  transform: scaleX(-1);
}

.container-fluid {
  padding: 3% 8%;
}

.wiki {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.titimg {
  margin-top: 15%;
  width: 80%;
  transform: rotate(35deg);
  position: absolute;
  right: 10%;
}

.navbar {
  padding-bottom: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.More-info {
  margin-top: 2%;
}

.More-info a {
  color: white;
  text-decoration: none;
}

.More-info a:hover {
  color: #7d7d7d;
}

#features {
  padding: 3% 8%;
  background-color: #fff;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
}

.icon:hover {
  color: #7d7d7d;
}

#testimonials {
  text-align: center;
  background-color: #7d7d7d;
  color: white;
  padding: 50px 0;
}

.test-glo-img {
  border-radius: 30%;
  margin: 20px;
  width: 300px;
}

#press {
  background-color: #7d7d7d;
  text-align: center;
  padding: 3% 0;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 15px;
}

#Bullets {
  padding: 100px;
  text-align: center;
}

.bullets-col {
  padding: 3% 2%;
}

.bh2 {
  font-size: 1.5rem;
}

#footer {
  background-color: #7d7d7d;
  padding: 3% 0;
}

.foot {
  color: #fff;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .titimg {
    position: static;
    transform: rotate(0);
  }
}
