/* General Styles */
:root {
  --primary-color: #343a40;
  --secondary-color: white;
  --text-color: #6c757d;
  --highlight-color: #ffc107;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

/* Title Section */
#title {
  background-color: var(--primary-color);
}

.glocks {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
  text-align: center;
}

.glocks1 {
  transform: scaleX(-1);
}

.container-fluid {
  padding: 3% 8% 4%;
}

.titimg {
  margin-top: 15%;
  width: 80%;
  transform: rotate(35deg);
  position: absolute;
  right: 10%;
}

/* Typography */
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: var(--text-color);
}

/* Navbar */
.navbar {
  padding: 0 0 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Button Styles */
.btn-lg {
  font-size: 1rem;
}

.more-info {
  margin-top: 2%;
  text-decoration: none;
}

/* Features Section */
#features {
  padding: 3% 8%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: var(--highlight-color);
}

/* Testimonials Section */
#testimonials {
  padding: 3% 8%;
}

.test-glo-img {
  border-radius: 50%;
  margin: 20px;
  width: 200px;
}

.carousel-item {
  padding: 3% 8%;
}

/* Press Section */
#press {
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 15px;
}

/* Bullets Section */
#bullets {
  padding: 100px;
}

.bullets-col {
  padding: 3% 2%;
}

.bh2 {
  font-size: 1.5rem;
}

/* Footer */
#footer {
  padding: 3% 8%;
}

.foot {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  
  .titimg {
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
